body{
    background: url(../content/images/palais.jpg) no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
}

.titre h1, .sous-titre{
    color: rgb(11, 29, 60);
}

.intro, .texte{
    background-color: rgba(59, 87, 136, 0.97);
}

@media screen and (max-width: 750px){
    .entete {
        overflow-y: scroll;
        overflow-x: hidden;
        
    }
}
.img{
    background-attachment: fixed;
    background-position: top;
    background-image: url("../content/images/tunnel.jpg");
    height: 1vm;
} 

#img2{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    background-image: url("../content/images/tunnel.jpg");
}

#img3{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 350px;
    background-image: url("../content/images/parc.jpg");
}

#img4{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    background-image: url("../content/images/chihiro_regards.jpg");
}

#img5{
    background-size: cover;
    background-position: bottom;
    min-height: 350px;
    background-image: url("../content/images/yubabz.jpg");
}

#img6{
    background-size: cover;
    background-position: bottom;
    min-height: 350px;
    background-image: url("../content/images/mont.png");
}

.citation{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(59, 87, 136, 0.35);
    width: 100%;
}

button{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(59, 87, 136, 1);
    height: 65px;
    font-size: 30px;
}