
.sous-titre2{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(205, 50, 80, 1);

}

.titre h2{
    color: black;
    font-size: 2em;
    font-family: 'Yoruka Regular', sans-serif;
}

.resume-text {
	border :none;
}

p img {
 	margin-right: 3.4%;
 	margin-left: 3%;
	border : 3px solid black;
	border-radius: 3%;
	margin-top: 1%;
}

.petit {
	display: none;
}



button{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(59, 87, 136, 1);
    height: 65px;
    font-size: 30px;
}

.fleche{
    width: 23vw;
    }

.fleche{
    width: 23vw;
 }
.fleche img{
    margin-top: 5%;
}
#right{
    margin-left: 28%;
}

@media screen and (max-width: 1800px) and (min-width: 1316px) {
	p img {
 	margin-right: 3.4%;
 	margin-left: 3%;
	border : 3px solid black;
	border-radius: 3%;
	margin-top: 1%;
	}
	 .titre h2{
    color: black;
    font-size: 150%;
    font-family: 'Yoruka Regular', sans-serif;
	}
	.sous-titre2{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(205, 50, 80, 1);
    font-size: 70%;
	}
	.grand {
		display: none;
	}
	.petit {
		display: inline-block;
	}
}

@media screen and (max-width: 1317px) and (min-width: 1094px) {
	p img {
 	margin-right: 3.4%;
 	margin-left: 3%;
	border : 3px solid black;
	border-radius: 3%;
	margin-top: 1%;
	}
	 .titre h2{
    color: black;
    font-size: 150%;
    font-family: 'Yoruka Regular', sans-serif;
	}
	.sous-titre2{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(205, 50, 80, 1);
    font-size: 70%;
	}
	.grand {
		display: none;
	}
	.petit {
		display: inline-block;
	}
	.fleche{
   	 	width: 23vw;
    }

	.fleche{
    	width: 23vw;
    	margin-top: 0.6%;
 	}
	.fleche img{
    	margin-top: 5%;
	}
	#right{
    	margin-left: 28%;
	}
}

@media screen and (max-width: 1093px) and (min-width: 734px) {
	p img {
 	margin-right: 3.4%;
 	margin-left: 3%;
	border : 3px solid black;
	border-radius: 3%;
	margin-top: 1%;
	}
	 .titre h2{
    color: black;
    font-size: 150%;
    font-family: 'Yoruka Regular', sans-serif;
	}
	.sous-titre2{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(205, 50, 80, 1);
    font-size: 70%;
	}
	.grand {
		display: none;
	}
	.petit {
		display: inline-block;
	}
	.fleche{
   	 	width: 23vw;
    }

	.fleche{
    	width: 23vw;
    	margin-top: 2%;
 	}
	.fleche img{
    	margin-top: 5%;
	}
	#right{
    	margin-left: 28%;
	}
}

@media screen and (max-width: 1093px) and (min-width: 1072px) {
	p img {
 	margin-right: 3.4%;
 	margin-left: 3%;
	border : 3px solid black;
	border-radius: 3%;
	margin-top: 1%;
	}
	 .titre h2{
    color: black;
    font-size: 150%;
    font-family: 'Yoruka Regular', sans-serif;
	}
	.sous-titre2{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(205, 50, 80, 1);
    font-size: 70%;
	}
	.grand {
		display: none;
	}
	.petit {
		display: inline-block;
	}
	.fleche{
   	 	width: 23vw;
    }

	.fleche{
    	width: 23vw;
    	margin-top: 1%;
 	}
	.fleche img{
    	margin-top: 5%;
	}
	#right{
    	margin-left: 28%;
	}
}

@media screen and (max-width: 950px) and (min-width: 750px) {
	p img {
 	width: 95%;
 	margin-right: 1%;
 	}
	 .titre h2{
    color: black;
    font-size: 150%;
    font-family: 'Yoruka Regular', sans-serif;
	}
	.sous-titre2{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(205, 50, 80, 1);
    font-size: 70%;
	}
	.grand {
		display: none;
	}
	.petit {
		display: inline-block;
	}
}

@media screen and (max-width: 749px) {
	p img {
 	width: 95%;
 	margin-right: 1%;
 	}
	 .titre h2{
    color: black;
    font-size: 100%;
    font-family: 'Yoruka Regular', sans-serif;
	}
	.sous-titre2{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(205, 50, 80, 1);
    font-size: 70%;
	}
	.grand {
		display: none;
	}
	.petit {
		display: inline-block;
	}
}