body{
    background: url(../content/images/long.jpg) no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
}

.titre h1, .sous-titre{
    color: rgb(11, 29, 60);
}

.intro, .texte, .suite-texte{
    background-color: rgba(59, 87, 136, 0.97);
}

.intro p{
    padding-top: 15px;
    font-size: 1.7em;
    font-style: italic;
}

@media screen and (max-width: 750px){
    .entete {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

#img1 {
    background-size: cover;
    background-position: bottom;
    min-height: 350px;
    background-image: url("../content/images/hisaishi2.jpg");
}

#img2 {
    background-size: cover;
    background-position: bottom;
    min-height: 350px;
    background-image: url("../content/images/chihiroseule.jpg");
}

.citation{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(59, 87, 136, 0.25);
    width: 100%;
}

.contexterne iframe{
    margin-left: 2%;
    margin-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

img{
    max-width: 100%;
}

button{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(59, 87, 136, 1);
    height: 65px;
    font-size: 30px;
}