@font-face {
    font-family: 'Yoruka Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Yoruka Regular'), url('../content/fonts/Yoruka - Dafont.woff') format('woff');
}

body{
    background: url(../content/images/fond_studio.jpg) no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
}
/*------------Navbar--------------*/
#navbarNavDropdown{ 
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size : 20px;
} 
.nav-link{
    color: whitesmoke!important;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.4)!important;
}


.navbar li{
    padding-left:20px;
    padding-right:20px;
}

/*--------------Entete-----------------*/
.entete {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.entete .titre h1{
    
    font-size: 5vw!important;
    margin: 0 auto;
    margin-top: 10px;
}

.fleche img{
    width: 30%;
}

@media screen and (max-width: 750px) {
    .fleche{
        width: 30vw;
    }

    .fleche{
        width: 30vw;
    }

    .gauche{
        width: 30.1vw;
    }

    .entete .titre{
        width: 36.5vw;
    }

    .entete .titre h1{
        margin-top: 10px;
    }

    .fleche img{
        width: 40%;
    }
}

/*------------Contenu de la page-------------*/
.titre h1{
    color: rgb(18, 33, 60);
    font-size: 5em;
    font-family: 'Yoruka Regular', sans-serif;
}

p{
    font-family: 'Castoro', sans-serif;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

.paragraphe{
    border-radius: 5%;
}

div{
    background-color: transparent;
}
.textbloc{
    box-shadow: 20px 20px 55px black;
    z-index: 1;
}


/*----------images-----------*/
#img1{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    background-image: url("../content/images/logostudio\ \(3\).jpg");
    opacity: 0.8;
}

#img2{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    background-image: url("../content/images/afficheghibliSANSFOND.png");
    margin-bottom: 10px;
    margin-top: 3px;

}

#img3{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    background-image: url("../content/images/Hayao_Miyazaki-1024x645.jpg");
}

.intro {
    background-color: rgba(59, 87, 136, 1);
}

.intro p{
    padding-top: 15px;
    font-size: 1.2em;
    font-style: italic;
}

.sous-titre{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgb(18, 33, 60);
    height: 65px;
    padding-top: 11px;
}

.texte {
    background-color: rgba(59, 87, 136, 1);
    padding-top: 21px;
    padding-bottom: 21px;
    /*padding-top: 40px;
    padding-bottom: 40px;*/
}

.texte p{
    margin-right: 9%;
    margin-left: 9%;
    text-align: justify;
}

.mini-texte{
    font-size: 0.5em;
}

.citation p{
    font-size: 2.4em;
    font-style: italic;
    text-align: center;
}

#outro{
    margin-top: 15px;
}

/*--------------PIED-DE-PAGE-----------------*/

.footer {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(99, 95, 95);
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 1%;
}

.footer p{
    font-size: 1.2em;
}

button{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Yoruka Regular', sans-serif;
    text-align: center;
    color: rgba(59, 87, 136, 1);
    height: 65px;
    font-size: 30px;
}

@media screen and (max-width: 1300px) {
    #img3, #img2{
        width: 100vw;
    }
    #bloc{
        width: 100vw;
    }
}



